<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Moodee</title>
  <script type="text/javascript" src='/js/jquery.js'></script>
  <script type="text/javascript" src='/js/underscore.js'></script>
  <script type="text/javascript" src='/js/app.js'></script>
  <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
  <script type="text/javascript" src="/js/mustache.js"></script>
  <!-- Maps -->
  <script type="text/javascript" src="/js/map.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
<!--   <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzGEys1YWZjlBxSHMp_xun5e-g26E7SJs"></script> -->
  <!-- Style -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel='stylesheet' href='/stylesheets/normalize.css'></style>
  <link rel='stylesheet' href='/stylesheets/style.css'></style>
</head>

<body>

  <div id="info_current_user">
    <img src="<%=user.facebook.profile_pic_url %>" alt=""> 
    <div>
      <p>Logged in as <%= user.facebook.name.split(' ')[0] %></p>
      <p>Currently feeling: <%= user.mood %> </p>
    </div>
  </div>

  <header>
    <h1>Welcome to MooDEE</h1>

    <h2>How are you feeling?</h2>
  </header>

  <div id="main_zone">

    <div id="mood_menu" class="js_mood_menu">
   
      <ul>
        <li><a href="#" data-mood='surprise_me' >Surprise Me</a></li>
        <li><a href="#" data-mood='flirty' >Flirty</a></li>
        <li><a href="#" data-mood='party'>Party</a></li>
        <li><a href="#" data-mood='chatty'>Chatty</a></li>
      </ul>
    </div>

    <div id="panels_container">

      <div id="left_panel" class="panel">
         
        <!-- <div id="user_profile">
          <h4>Share the Mood Around</h4>
          <img src="./img/tilda.jpg">
          <p> Mystique, 25</p>
        </div>
        <div id="yes_no_box" class="yes_no_box">
          <ul>
            <li id="yes_button">YES</li>
            <li id="no_button">NO</li>
          </ul>
        </div> -->

      </div> <!-- end left panel -->

      <div id="middle_panel" class="panel">
         
        <h4>Update your location</h4>
        <form id="submitLocation" action="/users" method="put">
          <input type="text" name="location" placeholder="Please enter your postcode">          
          <input type="submit" value="Submit">
        </form>
        <div id="googleMap" class='js_googleMap' style="width:500px; height:380px;">
        </div>

      </div> <!-- end middle panel -->

      <div id="right_panel" class="panel">
         
        <h4>Current Crushes</h4>
        <!-- <div id="mini_user_profile" class="js_mini_user_profile">
          <img src="./img/tilda.jpg">
          <p> Mystique, 25</p>
        </div> -->

      </div> <!-- end right panel -->

    </div> <!-- end panels container -->


  </div> <!-- end Main zone -->
  


</body>

<script type="x-tmpl-mustache" id="random_profile_template">
  <div id="user_profile">
    <h4>Share the Mood Around</h4>

    <img src= '{{facebook.profile_pic_url}}' >
    <p> {{facebook.name}}, {{dob}}<br>{{mood}}</p>
    <p id="showing_now_id" class="hidden">{{ _id }}</p>
  </div>
  <div id="yes_no_box" class="yes_no_box">
    <ul>
      <li><a href="#" id="yes_button">YES</a></li>
      <li><a href="#" id="no_button">NO</a></li>
    </ul>
  </div>
</script>

<script type="x-tmpl-mustache" id="append_to_matches_template">
  <div id="mini_user_profile" class="js_mini_user_profile">
    <img src=>
    <p> {{facebook.name}}, {{dob}}</p>
  </div>
</script>



</html>