<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Moodee</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--  Bootstrap, requires jQuery, then Styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="/stylesheets/animate.css"></style>
  <link rel='stylesheet' href='/stylesheets/style.css'></style>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
  <script type="text/javascript" src='/js/underscore.js'></script>
  <script type="text/javascript" src='/js/app.js'></script>
  <script type="text/javascript" src='/js/chat.js'></script>
  <script type="text/javascript" src='/js/animation.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.1/mustache.min.js"></script>
  <!-- Maps -->
  <script type="text/javascript" src="/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?region=GB"></script>

</head>

<body>

  <!-- Bootstrap Nav Bar -->
<nav id="main-navbar" class="navbar navbar-default">
  <div id="main_navbar_container" class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="glyphicon glyphicon-cog"></span>
      </button>
      <ul class="nav navbar-nav navbar-left">
         <li><a id="a" class="navbar-brand" href="#">MooDee</a></li>
         <li><a href="#" class="sub-brand">How are you feeling today?</a></li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.facebook.name.split(' ')[0] %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My account</a></li>
            <li><a href="#">I <span class="glyphicon glyphicon-heart"></span> this app</a></li>
            <li role="separator" class="divider"></li>
            <li id="logout"><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li><img src="<%=user.facebook.profile_pic_url %>" class="img-responsive"></li>
      </ul>  <!-- /.navbar-right -->
    </div>   <!-- /.navbar-collapse -->

  </div>   <!-- /.container-fluid -->
</nav>

<!-- Create natural responsive padding by having everything in a column -->
<div class="container-fluid">
   <div class="col-xs-offset-1 col-xs-10">
      
      <div id="main_zone" class="row">
          <div id="mood_menu" class="row bounce">
            <div class="col-xs-12 text-center h4">
              <ul class="all_moods list-inline">
                <li id="surprise_me"><a href="#" data-mood='surprise_me' >Surprise Me</a></li>
                <li id="flirty"><a href="#" class="flirty" data-mood='flirty' >Flirty</a></li>
                <li id="party"><a href="#" data-mood='party'>Party</a></li>
                <li id="chatty"><a href="#" data-mood='chatty'>Chatty</a></li>
              </ul>
            </div>
          </div>

        <div id="panels_container" class="row">
          <div id="left_panel" class="panel col-xs-8 text-center">
          </div> <!-- end left panel -->

          <div id="right_panel" class="panel col-xs-4">        
            <h4 class="text-center">Current Crushes</h4>
          </div> <!-- end right panel -->
        </div>

        <div id="bottom_panel" class="row">

          <div id="google_maps_panel" class="col-xs-offset-1 col-xs-10">
            <h4 class="text-center">Where are you now?</h4>
            <form id="submitLocation" action="/users" method="put">
              <input type="text" id="location_input" name="location" placeholder="Enter your postcode">          
              <input type="submit" value="Submit">
            </form>
            <div id="googleMap" class='js_googleMap' style="width:100%; height:380px;"></div>
          </div>

           <div id="chat_panel" class="panel col-xs-12">
          <!-- use mustache to update with user name -->
          </div>
       </div>

      </div> 
        <!-- End main zone -->

   </div>   <!-- end artificial column for padding -->
</div>  <!-- end container-fluid -->


</body>



<!-- END of SCRIPT FOR THE NAV BAR WHEN User LOGGED IN -->
<!-- END of SCRIPT FOR THE NAV BAR  -->

<script type="x-tmpl-mustache" id="random_profile_template">

   <div id="user_profile" class="row">
      <div class="col-xs-12">
         <h4>Share the Mood Around</h4>
      </div>
   </div>
   <div class="user-profile row">
      <div class="col-xs-12">
      <img src= '{{facebook.profile_pic_url}}' class="img-responsive img-thumbnail center-block">
      </div>
   </div>

   <div class="row" id="yes_no_area">
      <div class="col-xs-12">
         <ul class="list-inline">
            <li class="h4"> {{facebook.name}} </li>
            <li><span class="glyphicon glyphicon-star-empty"></span></li>
            <li class="h4"> {{mood}} </li>
            <li id="showing_now_id" class="hidden">{{ _id }}</li>
         </ul>
         <ul class="list-inline">
            <li id="no_button">
               <span class="fa-stack fa-3x">
                 <i class="fa fa-heart fa-stack-1x"></i>
                 <i class="fa fa-ban fa-stack-2x text-danger"></i>
               </span>
            </li>
            <li id="yes_button"><i class="fa fa-4x fa-heart"></i></li>
         </ul>         
      </div>
   </div>

</script>
<!-- END of Random Profile -->

<!--  Script to Add a Crush -->
<script type="x-tmpl-mustache" id="append_to_matches_template">
   <div id="mini_user_profile" class="row js_mini_user_profile">
      <div class="col-xs-12 text-left">
         <img src=  class="img-responsive img-circle">
         <p>{{facebook.name}}</p>
      </div>
   </div>
</script>

<script type="x-tmpl-mustache" id="append_to_chat_template">
  <h1>Are you really flirty?</h1>
  <button id="close_chat">Close chat</button>
     <!-- <p class="connecting">Please wait, connecting to server...</p> -->

    <ul id='chat_container' class="chatlines">
      </ul>
    <form action="#">
      <input id="nick" type="text" value= {{ facebook.name  }}  />
      <input type="text" id="text" placeholder="Tell them about your mood" />
      <input type="submit" value="Speak!"  />
    </form>
</script>



</html>