<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Moodee</title>
  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
  <script type="text/javascript" src='/js/jquery.js'></script>
  <script type="text/javascript" src='/js/underscore.js'></script>
  <script type="text/javascript" src='/js/app.js'></script>
  <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
  <script type="text/javascript" src="/js/mustache.js"></script>
  <!-- Maps -->
  <script type="text/javascript" src="/js/map.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
<!--   <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzGEys1YWZjlBxSHMp_xun5e-g26E7SJs"></script> -->
  <!-- Style -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel='stylesheet' href='/stylesheets/normalize.css'></style>\
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel='stylesheet' href='/stylesheets/style.css'></style>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="info_current_user">
    <img src="<%=user.facebook.profile_pic_url %>" alt=""> 
    <div id="the_current_user">
      <p>Hey there: <%= user.facebook.name.split(' ')[0] %></p>
      <p>Your current mood is: <%= user.mood %> </p>  
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>  
    </div>
  </div>

  
  <header>
    <h1>MooDEE</h1>

    <h2>How are you feeling today?</h2>
  </header>

  <div id="main_zone">

    <div id="mood_menu" class="bounce">
          <ul class="all_moods">
        <li id="surprise_me"><a href="#" data-mood='surprise_me' >Surprise Me</a></li>
        <li id="flirty"><a href="#" class="flirty" data-mood='flirty' >Flirty</a></li>
        <li id="party"><a href="#" data-mood='party'>Party</a></li>
        <li id="chatty"><a href="#" data-mood='chatty'>Chatty</a></li>
      </ul>
    </div>

    <div id="panels_container">

      <div id="left_panel" class="panel">
  

      </div> <!-- end left panel -->
      

      <div id="right_panel" class="panel">
         
        <h4>Current Crushes</h4>
        <!-- <div id="mini_user_profile" class="js_mini_user_profile">
          <img src="./img/tilda.jpg">
          <p> Mystique, 25</p>
        </div> -->

      </div> <!-- end right panel -->

  
      <div id="middle_panel" class="panel">

        <div id="google_maps_panel">
          <div id="match">It's a Match!</div>
                <h4>Update your location</h4>
                <form id="submitLocation" action="/users" method="put">
                  <input type="text" id="location_input" name="location" placeholder="Please enter your postcode">          
                  <input type="submit" id="submit" value="Submit">
                </form>
                <div id="googleMap" class='js_googleMap' style="width:500px; height:380px;">
                </div>
        </div>

          <div id="chat_panel" class="panel">
         <!-- use mustache to update with user name -->
         </div>
      </div>



    </div> <!-- end panels container -->


  </div> <!-- end Main zone -->





</body>

<script type="x-tmpl-mustache" id="random_profile_template">
  <div id="user_profile">
    <h4>Share the Mood Around</h4>

    <img src= '{{facebook.profile_pic_url}}' >
    <p> {{facebook.name}}, {{dob}}<br>{{mood}}</p>
    <p id="showing_now_id" class="hidden">{{ _id }}</p>
  </div>
  <div id="yes_no_box" class="yes_no_box">
    <ul>
      <li><a href="#" id="yes_button">YES</a></li>
      <li><a href="#" id="no_button">NO</a></li>
    </ul>
  </div>
</script>

<script type="x-tmpl-mustache" id="append_to_matches_template">
  <div id="mini_user_profile" class="js_mini_user_profile">
    <img src=>
    <p> {{facebook.name}}, {{dob}}</p>
  </div>
</script>
<script type="x-tmpl-mustache" id="append_to_chat_template">
  <h1>Are you really flirty?</h1>
  <button id="close_chat">Close chat</button>
     <!-- <p class="connecting">Please wait, connecting to server...</p> -->

    <ul id='chat_container' class="chatlines">
      </ul>

    <form action="#">
      <input id="nick" type="text" value= {{ facebook.name  }}  />
      <input type="text" id="text" placeholder="Tell them about your mood" />
      <input type="submit" value="Speak!"  />
    </form>
</script>



</html>