<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moodee</title>
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
	<script type="text/javascript" src='/js/jquery.js'></script>
  <script type="text/javascript" src='/js/app.js'></script>
	<script type="text/javascript" src="/js/mustache.js"></script>
	<!-- Maps -->
	<script type="text/javascript" src="/js/map.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	 <!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzGEys1YWZjlBxSHMp_xun5e-g26E7SJs"></script> -->
	<!-- Style -->
  
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel='stylesheet' href='/stylesheets/normalize.css'></style>
	<link rel='stylesheet' href='/stylesheets/style.css'></style>
	<link rel="stylesheet" type="text/css" href="css/animate.css">	
</head>

<body>

	

  
<div id="slider">
	<h1 class="intro_writing">What kinda mood are you in today?
		<p>Login or Register with:</p>
	</h1>
	<div id="login_area">
		        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	</div>
<figure>
<img src="../img/bg-2.jpeg" alt="">
<img src="../img/bg-4.jpeg" alt="">
<img src="../img/bg-5.jpg" alt="">
<img src="../img/bg-6.jpg" alt="">



</figure>
</div>






</html>