<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moodee</title>
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
	<script type="text/javascript" src='/js/jquery.js'></script>
  <script type="text/javascript" src='/js/app.js'></script>
	<script type="text/javascript" src="/js/mustache.js"></script>
	<!-- Maps -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel='stylesheet' href='/stylesheets/normalize.css'></style>
	<link rel='stylesheet' href='/stylesheets/style.css'></style>
	<!-- <link rel="stylesheet" type="text/css" href="css/animate.css">	 -->
</head>

<body>

	

  
<div id="slider">
	<h1 class="intro_writing">What kinda mood are you in today?
		<p>Login or Register with:</p>
	</h1>
	<div id="login_area">
		        <a href="/auth/facebook" class="facebook btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	</div>
<figure>
<img src="http://read.plash.in/wp-content/uploads/2015/02/couple-2.jpg" alt="">
<img src="http://www.tellyouall.com/wp-content/uploads/2014/09/love-couple1.jpg" alt="">
<img src="http://cdn.puckermob.com/articlesites/puckermob/large/5996_tall.jpg" alt="">
<img src="http://www.ivillage.ca/sites/default/files/imagecache/node_photo_gallery_single_view/iStock_000007065868Small.jpg" alt="">
</figure>
</div>




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>