<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moodee</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--  Bootstrap, requires jQuery, then Styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="/stylesheets/animate.css"></style>
  <link rel='stylesheet' href='/stylesheets/style.css'></style>
  <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>

<body>

	
  
<div id="slider">
	<h1 class="intro_writing">What kinda mood are you in today?
		<p>Login or Register with:</p>
	</h1>
	<div id="login_area">
		        <a href="/auth/facebook" class="facebook btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	</div>
<figure>
	<!-- <img class="background_img" src="http://read.plash.in/wp-content/uploads/2015/02/couple-2.jpg" alt=""> -->
	<img class="background_img" src="https://www.tellyouall.com/wp-content/uploads/2014/09/love-couple1.jpg" alt="">
	<img class="background_img" src="http://cdn.puckermob.com/articlesites/puckermob/large/5996_tall.jpg" alt="">
	<img class="background_img" src="http://www.ivillage.ca/sites/default/files/imagecache/node_photo_gallery_single_view/iStock_000007065868Small.jpg" alt="">
</figure>
</div>

</body>
</html>