.hidden {
	display: none;
}

/*Header and welcome menu*/
header {
  text-align: center;
  border: 1px solid black;
}

#info_current_user {
	position: fixed;
}
#info_current_user p {
	margin: 5px 0 0 0;
}
#info_current_user img {
	display: inline-block;
  vertical-align: top;

}
#info_current_user div {
	display: inline-block;
}


/*Main Zone*/

#main_zone {
	border: 1px solid black;
}
#mood_menu {
	text-align: center;
	border: 1px solid blue;
}
#mood_menu li {
	display: inline;
	padding: 0 15px;
}

.active_mood {
	border: 1px solid blue;
	border-radius: 70px;
	background-color: lightgray;s
}

/*VArious panels*/

#panels_container {
	text-align: center;
	border: 1px solid yellow;
}

.panel {
	/*Ensure height is consistent with the gogleMAP object*/
	height: 419px;
	display: inline-block;
	border: 1px solid green;
	vertical-align: top;
}
#left_panel {
	width: 500px;
}

#user_profile img {
  height: 250px;
  margin: 0 auto;
  display: block;
}
#yes_no_box li {
	display: inline;
	padding: 0 15px;
	border: 1px solid black;
	border-radius: 20px;
}
#yes_no_box ul {
	padding-left: 0px;
}

#right_panel {
	width: 220px;
  text-align: left;
	padding-left: 10px;

}
#mini_user_profile img {
  border-radius: 100px;
  height: 45px;
  width: 45px;
}
#mini_user_profile p {
	display: inline;
}

